%img(src="http://imageshack.com/a/img908/2835/M5lwNo.png" align="center" height="100" widith="100")
/%p(class="navbar-text")
/	Signed in as Mark Otto

%body(bgcolor="#FFFFFF")
%h2(align ="center") Discipule - Cadastro de Conteúdos Online

%br

- if usuario_signed_in?
	%b
		%blockquote
			%p(align="right")
				=link_to('Sair', destroy_usuario_session_path, :method => :delete)

		%br

		%p(align="center")
			=link_to "Clique aqui para adicionar um conteúdo", new_artigo_path
		%br
 
- else
	%b
		%blockquote
			%p(align="right")
				=link_to('Entrar', new_usuario_session_path)
			
		%br

- @artigos.each do |artigo|
	%blockquote
		%h2
			= link_to artigo.Título, artigo
	%blockquote
		%p 
			= truncate(artigo.Conteúdo, length: 140)
	%blockquote
		%p(align="right")
			Publicado em 
			= artigo.created_at.strftime('%d %b de %Y')



%br
%br
%hr(bgcolor="#00000A")
%br
%b
	%blockquote
		%p(align="left")
			=link_to "Sobre o Discipule", "sobre"



%img(src="http://imageshack.com/a/img905/5237/rFUJuH.png" align="left")