<img src="http://imageshack.com/a/img908/2835/M5lwNo.png" align="center" height="100" widith="100">
<h2 align="center">Esqueceu sua senha?</h2>

<blockquote>
	<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	  <%= f.error_notification %>

	  <div class="form-inputs">
	    <%= f.input :email, required: true, autofocus: true %>
	  </div>

	  <div class="form-actions">
	  	<br>
	    <%= f.button :submit, "Me mande instruções para resetar senha" %>
	    <br>
	    <br>
	  </div>
	<% end %>

	<%= render "devise/shared/links" %>
</blockquote>
<img src="http://imageshack.com/a/img905/5237/rFUJuH.png" align="left">