<img src="http://imageshack.com/a/img908/2835/M5lwNo.png" align="center" height="100" widith="100">

<h2 align="center">Entrar</h2>
<blockquote>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email, required: false, autofocus: true %>
    <%= f.input :password, required: false %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
  	<br>
    <%= f.button :submit, "Entrar" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</blockquote>
<img src="http://imageshack.com/a/img905/5237/rFUJuH.png" align="left">