!!!
%html
%head

	%title Discipule
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags #identacao aqui teve erro, resolvido com backspace ate true da linha anterior + enter

%body(id="params[:controller].parameterize %>_controller")
	%p.notice 
		= notice
	%p.alert 
		= alert

	=link_to "Todos Conteúdos", root_path

	- Categoria.all.each do |categoria|
		= link_to categoria.Nome, artigos_path(categoria: categoria.Nome)

	=yield


	

